@import "reset.css";

body{
  font-family: Roboto;
}

.header{
  padding: 20px 30px 10px 30px;
  color: #ffffff;
  background: #3f51b5;
}

.search{
  position: relative;

  &__title{
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    color: #ffffff;
  }

  &__input{
    width: 100%;
    border: none;
    height: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 2px;
  }

  &__error{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #ff2c2c;
  }
}

.results{
  display: flex;
  justify-content: center;
  align-items: center;
  height: ~"calc(100vh - 116px)";
  padding: 30px;
  box-sizing: border-box;

  &__message{
    font-weight: 500;
    color: #77777f;
  }

  &-table{
    width: 100%;

    &__row{
      border: 1px solid #cccccc;
    }

    &__col{
      padding: 10px;
    }
  }
}